# Ignore everything
*

# But not these files...
!*.gif
!*.bin
!*.svg
!*.abi
!*.png
!*.ico
!*.css
!*.html
!*.md
!*.txt
!.gitignore
!/docs/index.md
# etc...

# ...even if they are in subdirectories
!*/
