site_name: Nethereum
pages:
- 'Home' : 'index.md'
- 'Get Started: Smart Contracts' : 'get-started-smart-contracts.md'
##    - 'Linux'
- 'Getting Started With Smart Contracts' : 'get-started-smart-contracts.md'
- '2 minute crash-courses' : 'Nethereum.Workbooks/docs/index.md'
- 'Creating and managing an account' : 'accounts.md'
## - 'Running a local Blockchain' 
- 'Deploying a contract' : 'contracts/deploying.md'
## - 'Generating a contract interface'
- 'Generating Code' : 'nethereum-code-generation.md'
## - 'Interacting with a contract'
## - 'Sending a transaction'
##   - 'Code example' : 'index.md'
- 'Tools and clients':
    - 'Introduction' : 'ethereum-and-clients/index.md'
    - 'Geth (Go client)' : 'ethereum-and-clients/geth.md'
    - 'Parity' : 'ethereum-and-clients/parity.md'
    - 'Quorum' : 'ethereum-and-clients/quorum.md'
    - 'Azure BaaS' : 'azure/set-up-blockchain-on-azure.md'
    - 'TestRPC' : 'ethereum-and-clients/test-rpc.md'
    - 'Ganache CLI' : 'ethereum-and-clients/ganache-cli.md'
    - 'Choosing a chain for development' : 'ethereum-and-clients/choosing-a-chain-for-development.md'
- 'Accounts': 'accounts.md'
- 'Web3 and RPC':
    - 'Web3' : 'introduction/web3.md'
    - 'RPC' : 'introduction/rpc.md'
    - 'IPC' : 'introduction/ipc.md'
- 'Working with Contracts':
    - 'Create and deploy contracts' : 'contracts/deploying.md'
    - 'Calls, transactions, events, filters and topics' : 'contracts/calling-transactions-events.md'
    - 'Multiple output parameters and function DTOs' : 'contracts/functiondtos.md'
- 'Code generation': 'nethereum-code-generation.md'
- 'Workbooks': 
    - 'Workbooks index': 'Nethereum.Workbooks/docs/index.md'
    - 'Getting started with smart contracts': 'Nethereum.Workbooks/docs/nethereum-gettingstard-smartcontrats.workbook'
    - 'Getting started Infura' : 'Nethereum.Workbooks/docs/nethereum-gettingstarted-infura.workbook'
    - 'HD Wallet' : 'Nethereum.Workbooks/docs/nethereum-hdwallet-infura-transfer.workbook'
    - 'Logging events' : 'Nethereum.Workbooks/docs/nethereum-eventdtos-getallchanges.workbook'
## - 'Sample Projects' : 'demos/sample-projects.md'
theme: readthedocs
