site_name: Nethereum
pages: 
- 'Home': 'index.md'
- 'Ethereum': 'ethereum.md'
- 'Ethereum and Clients': 
    - Introduction: 'ethereum-and-clients/index.md'
    - 'Geth (Go client)' : 'ethereum-and-clients/geth.md'
- 'Accounts': 'accounts.md'
- 'Web3 and RPC':
    - 'Web3' : 'introduction/web3.md'
    - 'RPC' : 'introduction/rpc.md'
    - 'IPC' : 'introduction/ipc.md'
- 'Working with Contracts':
    - 'Create and deploy contracts' : 'contracts/deploying.md'
    - 'Calls, transactions, events, filters and topics' : 'contracts/calling-transactions-events.md'
    - 'Multiple output parameters and function DTOs' : 'contracts/functiondtos.md'
- 'Workbooks': 
    - 'Workbooks index': 'Nethereum.Workbooks/docs/index.md'
    - 'Getting started with smart contracts': 'Nethereum.Workbooks/docs/nethereum-gettingstard-smartcontrats.workbook'
    - 'Getting started Infura' : 'Nethereum.Workbooks/docs/nethereum-gettingstarted-infura.workbook'
    - 'HD Wallet' : 'Nethereum.Workbooks/docs/nethereum-hdwallet-infura-transfer.workbook'
- 'Sample Projects' : 'demos/sample-projects.md'
theme: readthedocs
