# The MIT License (MIT)

# Copyright (c) 2016 Nethereum.com (Juan Blanco) , Logo by Cass (https://github.com/cassiopaia)

# Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

# The above copyright notice and this permission notice shall be included in all copies or ANY portions of the Software.

# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

# Project information
site_name: Nethereum Documentation
site_url: https://docs.nethereum.com
site_description: Nethereum documentation.
site_author: Nethereum community
copyright: Nethereum is licensed under the MIT License (MIT), this <a href="https://readthedocs.org/">Readthedocs.org</a> documentation uses <a href="https://www.mkdocs.org/">Mkdocs</a> and the <a href="https://squidfunk.github.io/mkdocs-material">Material theme</a>.

#extra project info and template customisation
extra:
  support:
    gitter: https://gitter.im/Nethereum/Nethereum
    nethereum_website: https://docs.nethereum.com
    issues: https://github.com/Nethereum/Nethereum/issues

# Repository
repo_name: Nethereum/Nethereum
repo_url: https://github.com/Nethereum/Nethereum
edit_uri: https://github.com/Nethereum/Nethereum.Docs/tree/master/docs

theme:
    name: material
    custom_dir: docs/custom_theme
    palette:
        primary: teal
        accent: teal
    favicon: images/favicon.ico
    logo:
      icon: library_books
    feature:
      tabs: true
nav:
- Get started :
    - What is Nethereum? : index.md
    - Get Started with Nethereum : getting-started.md
    - Nugets : nugets.md
    - Transferring Ether : nethereum-transferring-ether.md
    - Unit conversion : Nethereum.Workbooks/docs/nethereum-converting-units.md
    - Accounts :
      - Accounts in Nethereum : accounts.md
      - Account objects : Nethereum.Workbooks/docs/nethereum-using-account-objects.md
      - Managed accounts : Nethereum.Workbooks/docs/nethereum-managed-accounts.workbook/index.md
      - Hd Wallets and seed phrases : Nethereum.Workbooks/docs/nethereum-managing-hdwallets.md
      - Creating a new Account using Geth Personal Api : Nethereum.Workbooks/docs/nethereum-creating-a-new-account-using-geth.md
    - Chain Ids : Nethereum.Workbooks/docs/nethereum-chainID-management.md
    - Keystore : nethereum-creating-key-store.md
    - Smart Contracts :
      - Smart Contracts Interaction : nethereum-smartcontrats-gettingstarted.md
      - Events, Logs and Filters : Nethereum.Workbooks/docs/nethereum-events-gettingstarted.md
      - Using receipt statuses : Nethereum.Workbooks/docs/nethereum-receipt-status.workbook/index.md
      - Estimating gas for a transaction : Nethereum.Workbooks/docs/nethereum-estimating-gas.workbook/index.md
      - Managing nonces : Nethereum.Workbooks/docs/nethereum-managing-nonces.md
      - Getting Started With Smart Contracts (untyped) : Nethereum.Workbooks/docs/nethereum-gettingstarted-smartcontracts-untyped.md
      - Create and deploy contracts (untyped): contracts/deploying.md
      - Calls, transactions, events, filters and topics (untyped): contracts/calling-transactions-events.md
      - Multiple output parameters and function DTOs (untyped) : contracts/functiondtos.md
      - Events polling (untyped) : Nethereum.Workbooks/docs/nethereum-eventdtos-getallchanges.md
    - Signing messages : Nethereum.Workbooks/docs/nethereum-signing-messages.md
    - Web3 and RPC:
        - Web3 : introduction/web3.md
        - RPC : introduction/rpc.md
        - IPC : introduction/ipc.md
- Ethereum clients:
    - Introduction : ethereum-and-clients/index.md
    - Geth (Go client) : ethereum-and-clients/geth.md
    - Parity : ethereum-and-clients/parity.md
    - Quorum : ethereum-and-clients/quorum.md
    - Azure BaaS : azure/set-up-blockchain-on-azure.md
    - Azure/Quorum integration : nethereum-azure-quorum.md
    - Infura : Nethereum.Workbooks/docs/nethereum-gettingstarted-infura.md
    - Nodesmith : Nethereum.Workbooks/docs/nethereum-gettingstarted-nodesmith.md
    - TestRPC : ethereum-and-clients/test-rpc.md
    - Ganache CLI : ethereum-and-clients/ganache-cli.md
    - Choosing a chain for development : ethereum-and-clients/choosing-a-chain-for-development.md
    - Getting Started Test Chain : Nethereum.Workbooks/docs/nethereum-gettingstarted-testchain.md
- Code generation:
    - Nethereum code generation : nethereum-code-generation.md
    - VsCode solidity code generation : nethereum-codegen-vscodesolidity.md
    - Nuget auto code generation : nethereum.autogen.contractapi.md
    - Console (CLI) code generation : nethereum-codegen-console.md
- Front-end:
    - Nethereum Blazor (sample) : nethereum-blazor.md
    - UI Wallets (samples) : nethereum-ui-wallets.md
- Back-end:
    - Event Log processing : event-log-processing.md
    - Blockchain processing (summary) : nethereum-blockchain-processing.md
    - Blockchain processing (detail) : nethereum-blockchain-processing-detail.md
    - Blockchain processing (samples) : nethereum-blockchain-processing-samples.md
    - Blockchain processing (chain crawling) : nethereum-block-crawl-processing.md
    - Ujo Backend : nethereum-ujo-backend.md
    - Ujo Backend reference architecture : nethereum-ujo-backend-sample.md
    - Wonka rules engine : wonka.md
- Unity (Gaming / VR / 3D):
    - Introduction : unity3d-introduction.md
    - Sending Ether: unity3d-sending-ether.md
    - Smart contract interaction : unity3d-smartcontracts-getting-started.md
- Other tooling:
    - Kaleido: kaleido-and-nethereum.md
markdown_extensions:
    - toc:
        permalink: ÔÉÅ
        toc_depth: 3
    - codehilite
    - markdown_include.include:
        base_path: docs
    - admonition
    - footnotes
    - def_list
    - abbr
    - pymdownx.arithmatex
    - pymdownx.betterem:
          smart_enable: all
    - pymdownx.keys
    - pymdownx.details
    - pymdownx.emoji
    - pymdownx.magiclink
    - pymdownx.mark
    - pymdownx.smartsymbols
    - pymdownx.superfences
    - pymdownx.tasklist:
          custom_checkbox: true
    - pymdownx.tilde
    - meta
    - smarty

plugins:
    - search
