site_name: Nethereum
theme: readthedocs
pages:
- 'Home' : 'index.md'
- 'Get Started with Nethereum' : 'getting-started.md'
- 'Nugets' : 'nugets.md'
- 'Transferring Ether' : 'nethereum-transferring-ether.md'
- 'Smart Contracts Interaction' : 'nethereum-smartcontrats-gettingstarted.md'
- 'Smart contracts Events / Logs / Filters' : 'nethereum-events-gettingstarted.md'
- 'Code generation':
    - 'vs-code and console': 'nethereum-code-generation.md'
    - 'ABI based code generator' : 'nethereum-abi-autogen.md'
- '2 minute crash-courses' : 'Nethereum.Workbooks/docs/index.md'
- 'Ethereum accounts' : 'accounts.md'
- 'Ethereum clients':
    - 'Introduction' : 'ethereum-and-clients/index.md'
    - 'Geth (Go client)' : 'ethereum-and-clients/geth.md'
    - 'Parity' : 'ethereum-and-clients/parity.md'
    - 'Quorum' : 'ethereum-and-clients/quorum.md'
    - 'Azure BaaS' : 'azure/set-up-blockchain-on-azure.md'
    - 'TestRPC' : 'ethereum-and-clients/test-rpc.md'
    - 'Ganache CLI' : 'ethereum-and-clients/ganache-cli.md'
    - 'Choosing a chain for development' : 'ethereum-and-clients/choosing-a-chain-for-development.md'
- 'Other tooling':
    - 'Kaleido': 'kaleido-and-nethereum.md'
- 'Web3 and RPC':
    - 'Web3' : 'introduction/web3.md'
    - 'RPC' : 'introduction/rpc.md'
    - 'IPC' : 'introduction/ipc.md'
- 'Smart Contracts untyped':
    - 'Create and deploy contracts' : 'contracts/deploying.md'
    - 'Calls, transactions, events, filters and topics' : 'contracts/calling-transactions-events.md'
    - 'Multiple output parameters and function DTOs' : 'contracts/functiondtos.md'
