.wy-nav-content {
    max-width: none;
}

.wy-nav-side {
    background: #6c429c;
}

.wy-side-nav-search input[type=text] {
    border-radius: 5px;   
}

.wy-body-for-nav {
    background-image: ;
}

.p {
 font-size: 150%;   
}
