.wy-nav-content {
    max-width: none;
}

.wy-nav-side {
    background: #60238f;
}

.wy-side-nav-search input[type=text] {
    border-radius: 5px;   
}

.wy-body-for-nav {
    background-image: ;
}

.body {
 font-family: Source Sans Pro,Arial,sans-serif;   
}

.wy-side-nav-search {
 .background-color: #32907a;   
}
